body {
  font-family: sans-serif;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px 0px 6px 0px;
  margin: 0;
  line-height: 30px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 0px 0px 6px 0px;
  margin: 0;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

h5 {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

p {
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.banner {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  cursor: pointer;
}

nav {
  width: 100%;
  padding: 2px 0px;
}

.sticky {
  position: fixed;
  z-index: 2;
  top: 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 5px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sort-by ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.sort-by button {
  margin: 15px 15px;
  padding: 5px 8px 4px 8px;
  border: 1px solid black;
  box-shadow: 6px 6px rgb(0, 0, 0);
  background-color: white;
}

.sort-by button:active {
  transform: translateY(6px) translateX(6px);
  box-shadow: none;
  border: 1px solid black;
  outline: 0;
}

.sort-by button:hover {
  transform: translateY(6px) translateX(6px);
  box-shadow: none;
  border: 1px solid black;
  outline: 0;
}

.icon-container {
  margin: 15px 21px 8px 15px;
  transform: translateY(6px) translateX(6px);
}

.icon-layer-1 {
  border: 1px solid black;
  /*box-shadow: 6px 6px rgb(0, 0, 0);*/
  height: 60px;
  width: 40px;
  transform: translateY(0px) translateX(0px);
  background-color: white;
}

.icon-layer-2 {
  border: 1px solid black;
  height: 60px;
  width: 40px;
  transform: translateY(-4px) translateX(-4px);
  background-color: white;
}

.icon-layer-3 {
  border: 1px solid black;
  height: 60px;
  width: 40px;
  transform: translateY(-5px) translateX(-5px);
  background-color: white;
}

.icon-container:hover .icon-layer-3 {
  transform: rotate(-6deg) translate(-15px, -15px);
}

.saved-message {
  position: fixed;
  top: 95px;
  right: 95px;
  border: 1px solid black;
  height: 60px;
  width: 40px;
  transform: rotate(-20deg) translateY(-5px) translateX(-5px);
  background-color: white;
  z-index: 2;
  display: none;
}

.saved-message-animate {
  animation: saved 0.75s;
  display: block;
  opacity: 0%;
}

@keyframes saved {
  0% {
    transform: rotate(-20deg);
    opacity: 100%;
  }
  99% {
    transform: rotate(10deg) translate(45px, -65px);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.removed-message {
  position: fixed;
  top: 40px;
  right: 50px;
  border: 1px solid black;
  height: 60px;
  width: 40px;
  transform: rotate(-20deg) translateY(-5px) translateX(-5px);
  background-color: white;
  z-index: 2;
  display: none;
}

.removed-message-animate {
  animation: removed 0.75s;
  display: block;
  opacity: 0%;
}

@keyframes removed {
  0% {
    transform: rotate(20deg);
    opacity: 100%;
  }
  99% {
    transform: rotate(10deg) translate(-45px, 65px);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
}

.all-cards-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  .all-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1100px) {
  .all-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-container {
  height: 360px;
  width: 270px;
  margin: 48px;
}

.card-container:nth-child(5n-4) .card {
  transform: rotate(-6deg) translate(-37px, -37px);
}

.card-container:nth-child(5n-3) .card {
  transform: rotate(-2deg) translate(-37px, -37px);
}

.card-container:nth-child(5n-2) .card {
  transform: rotate(5deg) translate(-37px, -37px);
}

.card-container:nth-child(5n-1) .card {
  transform: rotate(0deg) translate(-37px, -37px);
}

.card-container:nth-child(5n) .card {
  transform: rotate(8deg) translate(-50px, -37px);
}

.card-container:hover {
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px) rotate(0deg);
  }
}

#card-container-saved-1 {
  display: none;
}

.plus {
  font-size: 24px;
  position: absolute;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  transform: translate(-20px, -25px);
}

.plus:hover {
  font-weight: bold;
}

.minus {
  font-size: 30px;
  position: absolute;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  transform: translate(-18px, -29px);
  display: none;
}

.minus:hover {
  font-weight: bold;
}

.card {
  border: 0.5px solid black;
  height: 320px;
  width: 240px;
  margin: 60px 60px;
  box-shadow: 6px 6px rgb(0, 0, 0);
  cursor: pointer;
}

.card-back {
  height: 308px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.card-back-specs {
  margin: 0px 5px 5px 45px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.card-front {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.card-front-1 {
  background-image: url("https://images.collection.cooperhewitt.org/43818_d309dd60a6c9b228_b.jpg");
  filter: brightness(105%);
  background-size: auto 110%;
}

.card-front-2 {
  background-image: url("https://images.collection.cooperhewitt.org/49341_e80862327dbaa624_b.jpg");
  background-position: center;
}

.card-front-3 {
  background-image: url("https://images.collection.cooperhewitt.org/92452_10a1bb232b49125a_b.jpg");
}

.card-front-4 {
  background-image: url("https://images.collection.cooperhewitt.org/94311_ee1ae7b329ff2d04_b.jpg");
  filter: brightness(102%) saturate(90%);
  background-size: auto 125%;
}

.card-front-5 {
  background-image: url("https://images.collection.cooperhewitt.org/21566_ac77712a565c65d3_b.jpg");
}

.card-front-6 {
  background-image: url("https://images.collection.cooperhewitt.org/92927_cd2dafd714d3f072_b.jpg");
  filter: saturate(70%);
  background-size: auto 110%;
}

.card-front-7 {
  background-image: url("https://images.collection.cooperhewitt.org/271703_701f59bea2c4251d_b.jpg");
  background-size: auto 105%;
  background-position: right;
}

.card-front-8 {
  background-image: url("https://images.collection.cooperhewitt.org/271700_a8d4c10002b4b618_b.jpg");
  filter: brightness(100%);
}

.card-front-9 {
  background-image: url("https://images.collection.cooperhewitt.org/331393_4d5f4dd31c5235bb_b.jpg");
  filter: brightness(105%);
}

.card-front-10 {
  background-image: url("https://images.collection.cooperhewitt.org/50239_cd5f2258ada8e1fe_b.jpg");
  filter: brightness(110%) saturate(110%);
  background-size: auto 110%;
}

.card-front-11 {
  background-image: url("https://images.collection.cooperhewitt.org/331411_b8cc17ad9f1da0fb_b.jpg");
}

.card-front-12 {
  background-image: url("https://images.collection.cooperhewitt.org/331485_c79c2ef420146a93_b.jpg");
}
.card-front-13 {
  background-image: url("https://images.collection.cooperhewitt.org/103118_5a69e378f0768560_b.jpg");
  filter: brightness(115%);
  background-size: auto 120%;
}
.card-front-14 {
  background-image: url("https://images.collection.cooperhewitt.org/333148_86acaaad7cfb959d_b.jpg");
  filter: brightness(105%) contrast(105%);
}

.card-front-15 {
  background-image: url("https://images.collection.cooperhewitt.org/53997_e1a6dac77413d5fc_b.jpg");
  background-position: right;
}
.card-front-16 {
  background-image: url("https://images.collection.cooperhewitt.org/277420_42207aa5ec6fac06_b.jpg");
  filter: contrast(105%) saturate(120%);
}

.card-front-17 {
  background-image: url("https://images.collection.cooperhewitt.org/24866_6119d56af9267285_b.jpg");
}
.card-front-18 {
  background-image: url("https://images.collection.cooperhewitt.org/103071_726d269137912303_b.jpg");
  filter: brightness(105%);
  background-size: auto 140%;
}
.card-front-19 {
  background-image: url("https://images.collection.cooperhewitt.org/103076_a84a5f2e14075094_b.jpg");
  filter: brightness(105%);
  background-size: auto 105%;
}
.card-front-20 {
  background-image: url("https://images.collection.cooperhewitt.org/329504_04786ba7aacc5ca5_b.jpg");
  filter: brightness(105%) saturate(105%);
}
.card-front-21 {
  background-image: url("https://images.collection.cooperhewitt.org/90881_c285d25ad38104cc_b.jpg");
  filter: brightness(100%);
}
.card-front-22 {
  background-image: url("https://images.collection.cooperhewitt.org/43306_d84cb33708d0e000_b.jpg");
  filter: brightness(105%);
  background-position: center;
}

.card-front-23 {
  background-image: url("https://images.collection.cooperhewitt.org/94017_056f2b965d9cfd1e_b.jpg");
}
.card-front-24 {
  background-image: url("https://images.collection.cooperhewitt.org/43319_1fa0f7c23c1ed690_b.jpg");
  filter: brightness(110%);
  background-size: auto 110%;
}
.card-front-25 {
  background-image: url("https://images.collection.cooperhewitt.org/270032_975d9f802fb40271_b.jpg");
}
.card-front-26 {
  background-image: url("https://images.collection.cooperhewitt.org/272317_923b35ae5f5e8d7f_b.jpg");
}

.card-front-27 {
  background-image: url("https://images.collection.cooperhewitt.org/157374_29b421a257439474_b.jpg");
  filter: brightness(110%) saturate(80%);
}
.card-front-28 {
  background-image: url("https://images.collection.cooperhewitt.org/23397_c8e18e6a36ac075a_b.jpg");
  filter: brightness(105%);
}
.card-front-29 {
  background-image: url("https://images.collection.cooperhewitt.org/272311_629ae7e7449324b2_b.jpg");
}
.card-front-30 {
  background-image: url("https://images.collection.cooperhewitt.org/262345_a5d384812400b5e1_b.jpg");
  filter: saturate(80%);
}

footer {
  margin: 150px 35px 35px 35px;
  padding: 5px 8px 5px 8px;
  border: 1px solid black;
  box-shadow: 6px 6px rgb(0, 0, 0);
  background-color: white;
  width: 145px;
  position: fixed;
  z-index: 2;
  bottom: 0;
  font-size: 8px;
}

footer a {
  font-weight: bold;
}
